body{
    background: green;
    color: aquamarine;
}
section{
    background-color: pink;
    padding: top: 60px;
    padding: bottom: 60px;
    display: flex;
    justify-content:center;
}
header{
    margin: 5%;
    FONT-SICE: 40PX;
    color: black
}